<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<div class="modal-container">
  <div class="title">
    <h1 class="section-title">About me</h1>
  </div>
  <div class="content">
    <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="circle-image">
          <img src= '/assets/img/LOTINO.jpg'width="50">
          <h1>Hi! , I'm<br> Darsie Lotino</h1>
        </div>
      </div>
    </div>
        <p>My academic background in design principles and digital media, combined with hands-on experience,
           has equipped me to create visually compelling and user-centric digital experiences.  
           My portfolio reflects a diverse array of projects that showcase my proficiency in contemporary 
           design software and my commitment to staying at the forefront of industry trends, 
           ensuring that I deliver solutions that are both effective and cutting-edge. </p>
          <div class="button">
            <button id="send" onclick="message()" name="send" value="send">HIRE ME</button>
        </div>
  </section>
  <!-- End About Section -->
  </div>
</div>
